<ion-view title="favoritos" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-list id="favoritos-list12">
      <ion-item class="item-thumbnail-left" id="favoritos-list-item29" ui-sref="tour()">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="favoritos-list-item30" ui-sref="tour()">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="favoritos-list-item31" ui-sref="tour()">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="favoritos-list-item32" ui-sref="tour()">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 299.977px; height: 51.9907px;"></div>
    <div id="favoritos-button-bar4" class="button-bar">
      <button id="favoritos-button13" style="font-weight:600;" class="button button-light button-block icon ion-android-favorite"></button>
      <a ui-sref="home()" id="favoritos-button14" style="font-weight:600;" class="button button-light button-block icon ion-ios-home"></a>
      <a ui-sref="tusViajes()" id="favoritos-button18" style="font-weight:600;" class="button button-light button-block icon ion-paper-airplane"></a>
    </div>
  </ion-content>
</ion-view>