<ion-view title="Guia" id="page13">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="guia-card24">
      <ion-item class="item-avatar" id="guia-list-item55">
        <img src="img/IOVQ1zprR8681AXxx9Ca_c2cd5525b55907cdaaf406fa45249c69.jpg">
        <h2>Diego Ivan</h2>
        <p>Ing. Sistemas ITESM</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/IAkLWKwQWlqALkzBb9yQ_t.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="guia-list-item-container8">
        <div id="guia-markdown13" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">En Magic Tour nos especializamos en ofrecer recorridos turísticos en la región centro del estado de Querétaro, </p>
        </div>
      </div>
      <ion-item class="item-icon-left calm" id="guia-list-item56">
        <i class="icon ion-android-contact"></i>22 Años</ion-item>
      <ion-item class="item-icon-left calm" id="guia-list-item63">
        <i class="icon ion-android-bicycle"></i>Aventura</ion-item>
      <ion-item class="item-icon-left calm" id="guia-list-item57">
        <i class="icon ion-beer"></i>Diversion nocturna</ion-item>
      <ion-item class="item-icon-left calm" id="guia-list-item58">
        <i class="icon ion-android-restaurant"></i>Gastronomia</ion-item>
      <ion-item class="item-icon-left calm" id="guia-list-item60">
        <i class="icon ion-paper-airplane"></i>Tours</ion-item>
      <ion-item class="item-thumbnail-left" id="guia-list-item61" ui-sref="tour()">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="guia-list-item62" ui-sref="tour()">
        <h2>Item</h2>
      </ion-item>
    </div>
    <div id="guia-button-bar9" class="button-bar">
      <a ui-sref="favoritos()" id="guia-button32" style="font-weight:600;" class="button button-light button-block icon ion-android-favorite"></a>
      <a ui-sref="home()" id="guia-button33" style="font-weight:600;" class="button button-light button-block icon ion-ios-home"></a>
      <button id="guia-button34" style="font-weight:600;" class="button button-light button-block icon ion-paper-airplane"></button>
    </div>
  </ion-content>
</ion-view>