<ion-view title="Iniciar Sesion" id="page1">
  <ion-content padding="true" style="background: url(img/eKBZ7yZLQTy2CCIl8PGv_xx.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/P7Iy9tWYRKqr7Av8hPYZ_256-256-300133c17b3324e1d5740e8afe79a137.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 40px;"></div>
    <form id="iniciarSesion-form10" class="list">
      <label class="item item-input" id="iniciarSesion-input7">
        <span class="input-label">Correo</span>
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input" id="iniciarSesion-input11">
        <span class="input-label">Contraseña</span>
        <input type="password" placeholder="Contraseña">
      </label>
    </form>
    <form id="iniciarSesion-form13" class="list">
      <div class="spacer" style="width: 300.012px; height: 83.9861px;"></div>
    </form>
    <a ui-sref="home()" id="iniciarSesion-button2" class="button button-calm button-block">Ingresar</a>
    <a ui-sref="registro()" id="iniciarSesion-button12" class="button button-light button-block">Registarme</a>
  </ion-content>
</ion-view>