<ion-view title="Registro" id="page3">
  <ion-content padding="true" style="background: url(img/PU0zAPsLTTD63ldlLREQ_xx.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="registro-form14" class="list">
      <ion-list id="registro-list2">
        <label class="item item-input" id="registro-input12">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="Nombre">
        </label>
        <label class="item item-input" id="registro-input17">
          <span class="input-label">Apellido</span>
          <input type="text" placeholder="Apellido">
        </label>
        <label class="item item-input" id="registro-input13">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input" id="registro-input14">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Contraseña">
        </label>
        <label class="item item-input" id="registro-input15">
          <span class="input-label">Cumpleaños</span>
          <input type="date" placeholder="Fecha de nacimiento">
        </label>
      </ion-list>
      <ion-radio id="registro-radio1">Viajero</ion-radio>
      <ion-radio id="registro-radio2">Guia</ion-radio>
      <div class="spacer" style="width: 300px; height: 65px;"></div>
      <a ui-sref="tipoR()" id="registro-button5" class="button button-calm button-block">Siguiente</a>
    </form>
  </ion-content>
</ion-view>