<ion-view title="Registro/Guia" id="page5">
  <ion-content padding="true" style="background: url(img/lni4UJ9JTBiVaopvYAhm_xx.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="registroGuia-form16" class="list">
      <div class="spacer" style="width: 300px; height: 33px;"></div>
      <ion-list id="registroGuia-list4">
        <label class="item item-input" id="registroGuia-input21">
          <span class="input-label">Carrera</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-select" id="registroGuia-select1">
          <span class="input-label">Escuela</span>
          <select></select>
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 262px;"></div>
      <a ui-sref="home()" id="registroGuia-button7" class="button button-calm button-block">Guardar</a>
    </form>
  </ion-content>
</ion-view>