<ion-view title="Registro/Viajero" id="page4">
  <ion-content padding="true" style="background: url(img/iZJ0OUIGS0SVjRAhhW9O_xx.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="registroViajero-form15" class="list">
      <ion-list id="registroViajero-list3">
        <label class="item item-input" id="registroViajero-input18">
          <span class="input-label">Ocupacion</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <div id="registroViajero-markdown2" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;">Dinos:
          <strong>¿Qué tipo de activividades prefieres durante tus viajes?</strong>
        </p>
      </div>
      <ion-radio id="registroViajero-radio3">Museos e Historia</ion-radio>
      <ion-radio id="registroViajero-radio6">Actividades extremas</ion-radio>
      <ion-radio id="registroViajero-radio7">Al aire libre</ion-radio>
      <ion-radio id="registroViajero-radio5">Relax</ion-radio>
      <div class="spacer" style="width: 300px; height: 93px;"></div>
      <a ui-sref="home()" id="registroViajero-button6" class="button button-calm button-block">Guardar</a>
    </form>
  </ion-content>
</ion-view>