<ion-view title="Reservar" id="page10">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 299.977px; height: 35.9815px;"></div>
    <ion-list id="reservar-list16">
      <ion-item class="item-thumbnail-left" id="reservar-list-item35">
        <h2>Peña de Bernal</h2>
        <p>Aventura / Relax </p>
      </ion-item>
      <label class="item item-input" id="reservar-input9">
        <span class="input-label">Fecha</span>
        <input type="date" placeholder="Nombre">
      </label>
      <label class="item item-input" id="reservar-input10">
        <span class="input-label">Hora</span>
        <input type="time" placeholder="Nombre">
      </label>
      <label class="item item-input" id="reservar-input16">
        <span class="input-label">Preguntas</span>
        <input type="text" placeholder="">
      </label>
    </ion-list>
    <div class="spacer" style="width: 299.977px; height: 118.991px;"></div>
    <button id="reservar-button22" class="button button-positive button-block">Reservar</button>
    <div id="reservar-button-bar8" class="button-bar">
      <a ui-sref="favoritos()" id="reservar-button11" style="font-weight:600;" class="button button-light button-block icon ion-android-favorite"></a>
      <a ui-sref="home()" id="reservar-button30" style="font-weight:600;" class="button button-light button-block icon ion-ios-home"></a>
      <button id="reservar-button31" style="font-weight:600;" class="button button-light button-block icon ion-paper-airplane"></button>
    </div>
  </ion-content>
</ion-view>