<ion-view title="tipoR" id="page15">
  <ion-content padding="true" style="background: url(img/eKBZ7yZLQTy2CCIl8PGv_xx.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/P7Iy9tWYRKqr7Av8hPYZ_256-256-300133c17b3324e1d5740e8afe79a137.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 40px;"></div>
    <div id="tipoR-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:19px;">Tipo de Regitro que deseas hacer:</p>
    </div>
    <div class="spacer" style="height: 40px;"></div>
    <a ui-sref="registroViajero()" id="tipoR-button9" class="button button-calm button-block">Viajero</a>
    <a ui-sref="registroGuia()" id="tipoR-button10" class="button button-calm button-block">Guía</a>
  </ion-content>
</ion-view>