<ion-view title="Tour" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="tour-card22">
      <ion-item id="tour-list-item17">Peña de Bernal</ion-item>
      <div class=" item item-image">
        <img src="img/QX3yDJnuTdmGbBQSz5SN_quehacer_penabernal_pueblomagico_queretaro_actividades.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="tour-list-item-container4">
        <div id="tour-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Disfruta de Un día en Bernal con nosotros, donde conocernos el tercer monolito más alto del mundo “Peña de Bernal pueblo mágico” con una altura de 2515 msn, recorre sus calles de un pueblo colonial y vive una experiencia en la región vinícola
            y quesera del estado de Querétaro.</p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="tour-list-item18">
        <i class="icon ion-android-bicycle"></i>Aventura / Relax</ion-item>
      <ion-item class="item-icon-left assertive" id="tour-list-item20">
        <i class="icon ion-android-time"></i>10 Horas</ion-item>
      <ion-item class="item-icon-left assertive" id="tour-list-item25">
        <i class="icon ion-social-usd"></i>750</ion-item>
      <ion-item class="item-icon-left assertive" id="tour-list-item26">
        <i class="icon ion-android-contact"></i>Guia : Julio</ion-item>
      <ion-item class="item-icon-left assertive" id="tour-list-item22">
        <i class="icon ion-camera"></i>Puntos a visitar :</ion-item>
      <ion-item class="item-thumbnail-left" id="tour-list-item21">
        <img src="img/KeehrReTT2qtiyJij8wR_qro_bernal_tnf_mcr-12.jpg">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="tour-list-item23">
        <img src="img/P8iryHM4RJO75UMRr3L0_quehacer_penabernal_pueblomagico_queretaro_actividades_vinedosazteca.jpg">
        <h2>Item</h2>
      </ion-item>
      <a ui-sref="reservar()" id="tour-button8" class="button button-positive button-block">Ir</a>
    </div>
    <div id="tour-button-bar5" class="button-bar">
      <a ui-sref="favoritos()" id="tour-button19" style="font-weight:600;" class="button button-light button-block icon ion-android-favorite"></a>
      <a ui-sref="home()" id="tour-button20" style="font-weight:600;" class="button button-light button-block icon ion-ios-home"></a>
      <button id="tour-button21" style="font-weight:600;" class="button button-light button-block icon ion-paper-airplane"></button>
    </div>
  </ion-content>
</ion-view>